body {
  background-color: #7C3AED; /* Cor de fundo */
  font-family: 'Roboto', sans-serif; /* Fonte principal */
  margin: 1.5rem; /* Margem externa */
}


/* Container principal da pagina */
.container {
  max-width: 400px; /* Largura máxima do container */

}


/* area do titulo principal */
.container-titulo {
  margin: 1rem;
}

.titulo-principal, .titulo-principal-2 {
  text-align: center; /* Centralizar texto do logo */
  margin-bottom: 1.5rem; /* Espaçamento abaixo do logo */
  color: #ffffffbe;
  font-weight: 600;
  font-size: 5rem;
  margin: 0;
  font-family: "Nunito";
}

.titulo-principal-2 {
  font-weight: bold;
  font-size: 6rem;
}

/* card da area de login */
.card {
  border-radius: 1rem; /* Borda arredondada do card */
  box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 1rem; /* Padding interno */
  background-color: #47287c; /* Cor de fundo do card */
}

/* titulo login */
.title {
  text-align: center; /* Centralizar título */
  margin-bottom: 1rem; /* Espaçamento abaixo do título */
  font-weight: bolder;
  color: #20fd54;
}

/* area do form login */
.form-group {
  margin-bottom: .4rem; /* Espaçamento entre elementos relacionados */
}

.titulo-label {
  color: #bbb9b9;
  font-weight: bold;
  margin-bottom: .4rem;
}

/* Container input de e-mail e senha */
.form-control {
  background-color: #2b2b2b56;
  border: #bbb9b9;
  color: #bbb9b9; /* Substitua pela cor desejada para o placeholder */
  text-align: center;
  font-weight: 500;
}

.form-control:hover, .form-control:focus {
  transition: .5s;
  background-color: #2b2b2b;
}

.btn-login {
  height: 2.5rem; /* Altura do botão de login */
  width: 100%; /* Largura do botão de login */
  margin-top: .725rem; /* Espaçamento acima do botão de login */
  border-radius: .625rem;
  font-weight: 600;
  background-color: #28A745;
  color: #20fd54;
}

.btn-login:hover {
  background-color: #51a3c4;
  color: #ffffffbe;
  transition: .5s;
}


/* sessão rede sociais */
.social-login {
  margin-top: 1rem; /* Espaçamento acima da seção de login social */
  margin-bottom: .4rem;
  text-align: center; /* Centralizar elementos sociais */
  color: #bbb9b9;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-social {
  margin-right: 0.5rem; /* Espaçamento entre ícones de redes sociais */
}

.icone-rede-social {
  margin: .1rem .4rem;
  padding: .2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.container-icone-social {
  border: #2b2b2b56 .1rem solid;
  background-color: #2b2b2b56;
  border-radius: .4rem;
  margin: .1rem .4rem;
}

.container-icone-social:hover {
  background-color: #815c5ca4;
  transition: .5s;
}

.error-msg {
  margin-top: 1rem; /* Espaçamento acima da mensagem de erro */
  color: #ff0000; /* Cor do texto de erro */
}


/* area cadastro */
.text-cadastro {
  color: #bbb9b9;
}


.link-cadastro:hover {
  color: #ffffffbe;
  transition: .5s;
}